table{
    border-spacing: 0px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

th{
    padding: 10px;
    border-bottom: solid black 2px;
    background-color: rgb(123,123,123);
}

td{
    padding: 10px;
    text-align: center;
    border-bottom: solid black 1px;
    background-color: rgb(211,211,211);
}

.tableContainer{
    width: 80%;
    margin: 0 auto;
}