@font-face {
    font-family: 'coolvetica';
    src: url('coolvetica/coolvetica-webfont.eot');
    src: url('coolvetica/coolvetica.ttf') format('truetype'),
    url('coolvetica/coolvetica-webfont.woff') format('woff'),
    url('coolvetica/coolvetica-webfont.eot?#iefix') format('embedded-opentype'),
    url('coolvetica/coolvetica-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'early_bird';
    src: url('earlybird/early_bird-webfont.eot');
    src: url('earlybird/early_bird.otf') format('truetype'),
    url('earlybird/early_bird-webfont.woff') format('woff'),
    url('earlybird/early_bird-webfont.eot?#iefix') format('embedded-opentype'),
    url('earlybird/early_bird-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'caviardreams';
    src: url('caviardreams/CaviarDreams.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'calibriregular';
    src: url('calibriregular/calibri.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.container{
    background-color: white;
    height: 100px;
    width: auto;
    border-bottom: solid grey 1px;
}
#logoheader{
    display: block;
    float: left;
    margin-left: 7.5%;
}
#titre{
    font-size: 250%;
    margin-left: 5%;
    float: left;
    margin-top: 1.2%;
    font-family: 'early_bird','sans-serif';
}
#deco{
    float: right;
}
#deco a{
    text-decoration: none;
    color: black;
}
#deco:hover{
    color: white;
    background-color: black;
    transition-duration: 500ms;
}
#deco:hover a{
    color: white;
    transition-duration: 500ms;
}

#panier{
    float: right;
    margin-right:1%;
}
#panier a{
    text-decoration: none;
    color: black;
}
#panier:hover{
    color: white;
    background-color: black;
    transition-duration: 500ms;
}
#panier:hover a{
    color: white;
    transition-duration: 500ms;
}

#coinsc{
    float: right;
    margin-right: 1%;
}
#coinsc:hover{
    color: white;
    background-color: black;
    transition-duration: 500ms;
}
#coinsc:hover a{
    color: white;
    transition-duration: 500ms;
}
#coinsc a{
    text-decoration: none;
    color: black;
}
nav{
    width: 50%;
    font-size: 130%;
    font-family: 'caviardreams','sans-serif';
    margin-left: 30%;
    float: left;
    margin-top: -3.5%;
}
a.menu{
    padding: 2%;
    text-align: center;
    text-decoration: none;
    color: black;
    float: left;
}
.disclaimer > p {
    padding-left: 20%;
}
.disclaimer {
    overflow-x: hidden;
    font-family: Arial;
    background-color: black;
    color: #616161;
    border-top: white 2px solid;
    padding-bottom: 20px;
    font-size: 12px;
    float: bottom;
}
.footer {
    width: 100%;
    display: block;
    overflow-x: hidden;
    background-color: black;
    color: White;
    font-family: "Arial";
}

div.footer h1 {
    font-size: 18px;

    padding-bottom: 15px;
}

div.footer h3 {
    font-size: 14px;
}

#about {
    text-align: center;
    float: left;
    background-color: black;
    padding-left: 30%;
    padding-right: 60px;
}
#infos {
    text-align: center;
    float: left;
    background-color: black;
    padding-left: 60px;
}
#oeuvres {
    text-align: center;
    float: left;
    background-color: black;
    padding-left: 60px;
    padding-right: 60px;
}
hr.vr {
    display: inline-block;
    float: left;
    height: 180px;
    margin-top: 1%;
}

.break {
    color: white;

}
#bodyacceuil{
    display: block;
}
#commencer{
    display: block;
    font-family: 'caviardreams','sans-serif';
    font-size: 120%;
    width: 12%;
    height: 5%;
    line-height: 2.4em;
    text-align: center;
    margin-top: -27%;
    margin-left: 43%;
    border-radius: 10px;
    position: absolute;
    background-color: rgba(30,30,30,0.4);
    border: 1px solid white;
}
#commencer a{
    text-decoration: none;
    color: white;
}
#qsn{
    font-family: 'calibriregular','sans-serif';
    text-align: center;
    height: 79%;
}
#myRange{
    margin-left: -3%;
}
#formulairerecherche{
    font-family: 'calibriregular','sans-serif';
    float: left;
    margin-left: 0.5%;
    border-right: solid 1px grey;
}
#demo{
    margin-left: 35%;
}
input[type=range] {
    height: 28px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000;
    background: #FFFFFF;
    border-radius: 1px;
    border: 0 solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000031;
    border: 1px solid #00001E;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FFFFFF;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000;
    background: #FFFFFF;
    border-radius: 1px;
    border: 0 solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000031;
    border: 1px solid #00001E;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #FFFFFF;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #FFFFFF;
    border: 0 solid #010101;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
    background: #FFFFFF;
    border: 0 solid #010101;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000031;
    border: 1px solid #00001E;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #FFFFFF;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #FFFFFF;
}
input[type=range]:focus::-ms-fill-upper {
    background: #FFFFFF;
}
#tableaux{
    width: auto;
    display: block;
    margin-left: 10%;
}
.imgtableaudiv{
    display:inline-block;
    position: absolute;
    z-index: 1;
}
.infosimg:hover > div.imgtableaudiv{
    cursor: pointer;
    -webkit-filter: blur(1.5rem);
    filter: blur(1.5rem);
}
.imgtableaudiv > img:hover{
    cursor: pointer;
    -webkit-filter: blur(1.5rem);
    filter: blur(1.5rem);
}
.containertableau{
    float: left;
    margin-left: 4%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 230px;
    width: 300px;
}
.containertableau a{
    color: black;
}
.infosimg {
    position: absolute;
    z-index: 0;
}
.containertableau:hover .infosimg{
    z-index: 2;
}
#conteneur{
    font-family: Arial, sans-serif;
}
#titrearticle{
    margin-left: 10%;
}
#tableauarticle{
    width: 40%;
    height: 40%;
    margin-left: 7%;
    margin-top: 2%;
    float: left;
}
#containerinfos{
    margin-left: 3%;
    margin-top: 2%;
    float: left;
    font-size: 150%;
}
#artistearticle{
    margin-left: 10%;
    margin-top: 15%;
}
#prixarticle{
    margin-left: 10%;
    margin-top: 15%;
}
#taillearticle{
    margin-left: 10%;
    margin-top: 15%;
}
#boutonajoutpanier{
    margin-top: 15%;
}
#button{
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}
#description{
    width: 60%;
    font-size: 120%;
    clear: left;
    margin-left: 7%;
}
#nav{
    margin-top: 1%;
    margin-left: 5%;
    font-size: 120%;
}
#nav a{
    text-decoration: none;
    color: black;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* Full-width input fields */
#container-body input[type=text], #container-body input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.submitConnexionPopup {
    background-color: rgb(0,0,0);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.submitConnexionPopup:hover {
    opacity: 0.8;
}

/* Set login and sign in buttons' position and colors */
#buttons-container button{
    width: 30%;
    margin: 1%;
    background-color : white;
    float: left;
    font-size: large;
}

.buttonSwapConnexionPopup-active{
    color: rgb(0,0,0);
    border-style: none;
    border-bottom: solid black 4px;
}

.buttonSwapConnexionPopup-inactive{
    border: 0;
    color: grey;
}

/* clear floating */
#container-desc{
    clear: both;
}

/* Padding */
.containerpopup {
    padding: 25px;
}
.container{
    padding: 25px;
}
#titrecontact{
    text-align: center;
}
#formulairecontact{
    height: 800px;
    width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#boutoncontact{
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 8px 210px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
#membreinfo{
    font-family: Arial, sans-serif;
    font-size: 120%;
    height: auto;
    width: 49%;
    text-align: center;
    float: left;
}
#membrecommande{
    font-family: Arial, sans-serif;
    font-size: 120%;
    height: auto;
    width: 49%;
    float: left;
    text-align: center;
}

.vrmembre{
    display: inline-block;
    float: left;
    height: 790px;
    margin-top: 1%;
}

.disclaimer {
    overflow-x: hidden;
    font-family: Arial;
    background-color: black;
    color: #616161;
    border-top: white 2px solid;
    padding-bottom: 20px;
    font-size: 12px;
    float: bottom;
    text-align: center;
}
.footer {
    width: 100%;
    display: block;
    overflow-x: hidden;
    background-color: black;
    color: White;
    font-family: "Arial",sans-serif;
    margin-left: auto;
    margin-right: auto;
}


@media only screen and (min-width: 1367px){
    #about{margin-left: 31.5%;}
}